﻿body {
    background: url(images/background.png) repeat;
}
.article-image {
    float: left;
    margin: 5px 15px 0px 5px;
}

.list {
    display: inline-block;
    margin-left: 40px;
}
.list-contacts li {
    margin-bottom:10px;
}

.list-models {
    list-style:none;
    margin-left:0;
}
    .list-models li {
        margin-left:40px;
    }

.logo-model {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin:5px;
}

.table.table-price td, .table.table-price th {
    text-align:center;
}

.navbar .navbar-inner {
    border-radius:0px 0px 4px 4px;
}
.shadow {
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

p {
    text-indent: 20px;
}

.affix {
    top: 10px;
}
.content .info-nav {
    width:104px;
}